@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<Christoc.Modules.Chart.Models.GetPerson>

@using DotNetNuke.Web.Mvc.Helpers
@using Christoc.Modules.Chart.Models
@{
    IEnumerable<GetCityAll> cities = ViewBag.Cities;
    var listfield = ViewBag.ListField;
}


<fieldset>

    @*<div class="dnnFormItem">
        <div class="dnnLabel" style="position: relative;">
            @Html.LabelFor(m => Model.IdCity,"Id City", new { @class = "col-md-2 control-label" })
        </div>
        @Html.DropDownListFor(m => Model.IdCity,
            new SelectList(Enum.GetValues(typeof(CityAll))),
            "Select City")
        @Html.DropDownList("Ctiy", cities, "Select City", new { onchange = "showPerson(this.value)" })
    </div>*@
    <div class="container">
        <div class="row">
            <div class="col-sm-3 custom-label"> <label for="cars">Chọn chủ đề:</label></div>
            <div class="col-sm-9 custom-label">
                <select id="IdCities" class="form-control" href="javascript:;" onchange="showPerson(this.value)">
                    @foreach (var item in cities)
                    {
                        <option value="@item.IdCity">@item.CityName</option>
                    }

                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 custom-label"><label for="cars">Loại biểu đồ:</label></div>
            <div class="col-sm-9 custom-label">
                <label class="radio-inline">
                    <input type="radio" name="typechart" checked value="column">Cột
                </label>
                <label class="radio-inline">
                    <input type="radio" name="typechart" value="line" />Đường
                </label>
                <label class="radio-inline">
                    <input type="radio" name="typechart" value="bar" />Bar
                </label>
                <label class="radio-inline">
                    <input type="radio" name="typechart" value="area" />Vùng
                </label>
                <label class="radio-inline">
                    <input type="radio" name="typechart" value="spline" />Point
                </label>
            </div>
        </div>
        <div class="row">
            @*<div class="col-sm-3 custom-label">@Html.LabelFor(m => Model.Setting2, new { @class = "col-sm-3 custom-label" })</div>*@
            <div class="col-sm-3 custom-label"> <label for="cars">Tên biểu đồ:</label></div>
            @*<div class="col-sm-9 custom-label"><input type="text" class="form-control mb-2 mr-sm-2" id="name-chart"></div>*@
            <div class="col-sm-9 custom-label"> @Html.TextBoxFor(m => Model.TenBieuDo)</div>
        </div>
        <div class="row">
            <div class="col-sm-3 custom-label"> <label for="cars">Mô tả biểu đồ:</label></div>
            @*<div class="col-sm-9 custom-label"><input type="text" class="form-control mb-2 mr-sm-2" id="des-chart"></div>*@
            <div class="col-sm-9 custom-label">@Html.TextBoxFor(m => Model.MoTaBieuDo)</div>
        </div>
        <div class="row">
            <div class="col-sm-3 custom-label"> <label for="cars">Tên AxisX:</label></div>
            @*<div class="col-sm-9 custom-label"><input type="text" class="form-control mb-2 mr-sm-2" id="name-X"></div>*@
            <div class="col-sm-9 custom-label">@Html.TextBoxFor(m => Model.TenX)</div>
        </div>
        <div class="row">
            <div class="col-sm-3 custom-label"><label for="cars">Tên AxisY:</label></div>
            @*<div class="col-sm-9 custom-label"><input type="text" class="form-control mb-2 mr-sm-2" id="name-Y"></div>*@
            <div class="col-sm-9 custom-label">@Html.TextBoxFor(mbox => Model.TenY)</div>
        </div>
        <div class="row">
            <div class="col-sm-3 custom-label"><label for="cars">Chọn AxisX:</label></div>
            <div class="col-sm-9 custom-label">
                <select id="selectX" class="form-control">
                    @foreach (var item in listfield)
                    {
                        <option value="@item.name">@item.name</option>
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 custom-label"><label for="cars">Chọn AxisY:</label></div>
            <div class="col-sm-9 custom-label">
                <select id="selectY" multiple="multiple" class="multipleselect2">
                    @foreach (var item in listfield)
                    {
                        <option value="@item.name">@item.name</option>
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 custom-label"><label for="cars">Bài viết cùng chủ đề:</label></div>
            <div class="col-sm-9 custom-label">
                <select id="selectPerson" multiple="multiple" class="multipleselect2"></select>
            </div>
        </div>
    </div>
</fieldset>
<script>
    $(document).ready(function () {
        $('.multipleselect2').multiselect({
                        includeSelectAllOption: true,
                        nonSelectedText: '--Chọn--',
                        buttonWidth: 510,
                        enableFiltering: true
                    });
        var rvtoken = $("input[name='__RequestVerificationToken']").val();
        var ModuleId = @Dnn.ModuleContext.ModuleId;
        var TabId = @Dnn.ModuleContext.TabId;
        var siteRoot = dnn.getVar("sf_siteRoot", "/");
        showPerson = function (id) {
            console.log(id);
            $("#selectPerson").removeClass('multipleselect2');
            $.ajax({
                url: siteRoot + 'DesktopModules/MVC/Chart/Settings/GetPersons',
                method: "GET",
                contentType: "application/json; charset=utf-8", dataType: "json",
                dataType: "json",
                data: { id: id },
                headers: {
                    "ModuleId": ModuleId,
                    "TabId": TabId,
                    "RequestVerificationToken": rvtoken
                },
                success: function (data) {
                    var result = [];
                    var persons = JSON.parse(data.data);
                    $(`#selectPerson`).empty();
                    for (var i = 0; i < persons.length; i++) {
                        $('#selectPerson').append(`<option value=${persons[i].Id}>${persons[i].Name}</option>`)
                    }
                    $('#selectPerson').multiselect('rebuild');
                    $('.multipleselect2').multiselect({
                        includeSelectAllOption: true,
                        nonSelectedText: '--Chọn--',
                        buttonWidth: 350,
                        enableFiltering: true
                    });
                }
               
            });
        }

        //showX = function (id) {
        //    $.ajax({
        //        url: siteRoot + 'DesktopModules/MVC/Chart/Settings/GetPersons',
        //        method: "GET",
        //        contentType: "application/json; charset=utf-8", dataType: "json",
        //        dataType: "json",
        //        data: { id: id },
        //        headers: {
        //            "ModuleId": ModuleId,
        //            "TabId": TabId,
        //            "RequestVerificationToken": rvtoken
        //        },
        //        success: function (data) {
        //            var persons = JSON.parse(data.data);
        //            //alert(persons.Name);
        //            console.log(persons);
        //            $(`#selectX`).empty();
        //            //for (var i = 0; i < persons.length; i++) {
        //            //    $('#selectX').append(`<option value=${persons[i].Id}>Id</option>`)
        //            //    console.log(persons[i].Id);
        //            //}
        //            $('#selectX').append(`<option value=Id>Id</option>`)
        //            $('#selectX').append(`<option value=Name>Name</option>`)
                    
        //        }
        //    });
        //}

        //showY = function (id) {
        //    $("#selectY").removeClass('multipleselect2');
        //    $.ajax({
        //        url: siteRoot + 'DesktopModules/MVC/Chart/Settings/GetPersons',
        //        method: "GET",
        //        contentType: "application/json; charset=utf-8", dataType: "json",
        //        dataType: "json",
        //        data: { id: id },
        //        headers: {
        //            "ModuleId": ModuleId,
        //            "TabId": TabId,
        //            "RequestVerificationToken": rvtoken
        //        },
        //        success: function (data) {
        //            //alert(data);
        //            var persons = JSON.parse(data.data);
        //            //alert(persons.Name);
        //            console.log(persons);
        //            $(`#selectY`).empty();
        //            $('#selectY').append(`<option value=${persons.Age}>Age</option>`)
        //            $('#selectY').append(`<option value=${persons.Gender}>Gender</option>`)
        //            $('#selectY').multiselect('rebuild');
        //            $('.multipleselect2').multiselect({
        //                includeSelectAllOption: true,
        //                nonSelectedText: '--Chọn--',
        //                buttonWidth: 350,
        //                enableFiltering: true
        //            });
        //        }

        //    });
        //}
    });

    

    
</script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style>
    .dnnCheckbox .mark {
        background-color: initial !important
    }

    .mark, mark {
        background-color: initial !important
    }

    .row {
        display: contents;
    }
    .custom-label {
        margin-top: 12px;
    }
</style>

